.nav-pills li a:hover {
    background-color: darkgray;
}

.white-line {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}


.bg-light-gray{
    background-color: #B5B5B5;
}

.bg-lightest-gray{
    background-color: #C9C9C9;
}
.bg-light-dark{
    background-color: rgb(110, 110, 110);
}
.close{
    opacity: 100 !important;
}
.fixed-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
}

.overflow-auto {
    overflow-y: auto;
}

.img-fluid{
    object-fit: cover;
    opacity: 69%;
    filter: blur(2px);
}

.img-scale{
    object-fit: fill;  
}

.img-absolute{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.trending-bg{
    position: relative;
    height: 35%;
}
.img-filter{
    opacity: 70%;
    background-color: black;
}
.trending-text{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}